@import url('https://fonts.cdnfonts.com/css/public-pixel');
#pagina{
	-fx-background-image: url("sfondo.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 900 506;
}

#paginaVeicoli{
	-fx-background-image: url("muro.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 900 506;
}

#gioca{
	-fx-background-color:
        linear-gradient(#ff6200, #ff0000),
        radial-gradient(center 50% -40%, radius 200%, #ff6200 45%, #ff0000 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #610000;
    -fx-font-family: 'Public Pixel', sans-serif;
    -fx-font-size: 20;
    -fx-padding: 13 40 13 40;
    -fx-font-weight: bolder;
    	
}

#save{
	-fx-background-color:
        linear-gradient(#ff6200, #ff0000),
        radial-gradient(center 50% -40%, radius 200%, #ff6200 45%, #ff0000 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #610000;
    -fx-font-family: 'Public Pixel', sans-serif;
    -fx-font-size: 18;
    -fx-padding: 12 17 12 17;
    -fx-font-weight: bolder;
}

#player, #difficolta{
	-fx-background-color:
        linear-gradient(#ff6200, #ff0000),
        radial-gradient(center 50% -40%, radius 200%, #ff6200 45%, #ff0000 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
	-fx-font-family: 'Public Pixel', sans-serif;
	-fx-font-weight: bolder;
	-fx-font-size: 15;
	-fx-padding: 6 10 6 10;
}

#m1, #m2, #m3{
	-fx-font-size: 20;
}

#m1 .radio, #m2 .radio, #m3 .radio {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

#m1 .radio:selected, #m2 .radio:selected, #m3 .radio:selected {
    -fx-background-color: white;
}

#m1 -radio:armed, #m2 -radio:armed, #m3 -radio:armed {
    -fx-background-color: white;
}

#m1 -radio:determinate, #m2 -radio:determinate, #m3 -radio:determinate {
    -fx-background-color: white;
}

#m1 -radio:indeterminate, #m2 -radio:indeterminate, #m3 -radio:indeterminate {
    -fx-background-color: white;
}

#m1.dot, #m2.dot, #m3.dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.traffico {
	-fx-z-index: 1;
}

#strada {
	-fx-z-index: 0;
}

#punti {
	-fx-font-family: 'Public Pixel', sans-serif;
	-fx-font-size: 13;
}